# Shell specific files
bash_local
bash_history

# OSX specific files
*.swp
.DS_Store
/.DS_Store

# Project specific files
/tmp/
/node_modules/
/log/
/scratch/

# IDE specific files
.idea
.tmproj
codeintel

# Ruby specific files
gemrc
.irb_history
.irbrc-local.rb
